<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'style', plugin: 'dashboard' %>
	<%= javascript_include_tag 'script', plugin: 'dashboard' %>
	<%= javascript_include_tag 'Sortable.min', plugin: 'dashboard' %>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<% end %>

<% if @use_drop_down_menu %>
	<select id="select_project">
		<% @projects.each do |project_id, project| %>
			<% if project_id == @selected_project_id %>
				<option selected value="<%= project_id %>"><%= project[:name] %></option>
			<% else %>
				<option value="<%= project_id %>"><%= project[:name] %></option>
			<% end %>
		<% end %>
	</select>
<% else %>
	<div class="select_project_container">
		<% @projects.each do |project_id, project| %>
			<% if project_id == @selected_project_id %>
				<div class="select_project_item select_project_item_selected" style="background-color: <%= project[:color] %>" data-id="<%= project_id %>"><%= project[:name] %></div>
			<% else %>
				<div class="select_project_item" style="background-color: <%= project[:color] %>" data-id="<%= project_id %>"><%= project[:name] %></div>
			<% end %>
		<% end %>
	</div>
<% end %>

<div class="issues_container">
	<% @statuses.each do |status_id, status| %>
		<div class="status_column" data-id="<%= status_id %>">
			<div class="status_column_header" style="border-bottom-color: <%= status[:color] %>">
				<span> <%= status[:name] %> </span>
			</div>
			<div class="<%= status[:is_closed] ? "status_column_closed_issues" : "status_column_issues" %>">
				<% @issues.select { |issue| issue[:status_id] == status_id }.each do |issue| %>
					<% project_color = @projects[issue[:project_id]][:color] %>
					<% project_name = @projects[issue[:project_id]][:name] %>
					<div class="issue_card" style="border-color: <%= project_color %>" data-id="<%= issue[:id] %>" onclick="goToIssue(<%= issue[:id] %>)">
						<span class="issue_card_id"> <%= "#" + issue[:id].to_s %> </span>
						<div class="issue_card_header">
							<span class="issue_card_header_date"><%= I18n.l(issue[:created_on], format: :long) %></span>
							<% if @show_project_badge %>
								<div class="issue_card_header_project" style="background-color: <%= project_color %>"><%= project_name %></div>
							<% end %>
						</div>
						<span class="issue_card_title"> <%= issue[:subject] %> </span>
						<span class="issue_card_author"><i class="bi bi-person"></i> <%= issue[:author] %> </span>
						<% if issue[:executor] == '' || issue[:executor].nil? %>
							<span class="issue_card_executor_not_set"><i class="bi bi-hammer"></i> <%=l :executor_not_set %></span>
						<% else %>
							<span class="issue_card_executor"><i class="bi bi-hammer"></i> <%= issue[:executor] %> </span>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>
	<% end %>
</div>

<script>
	$(function() {
		init(<%= @use_drag_and_drop %>);
	})
</script> 