<% content_for :header_tags do %>
	<%= javascript_include_tag 'settings', plugin: 'dashboard' %>
<% end %>

<table>
  <tbody>
  <tr>
    <th colspan="2"> <%=l :settings_header_statuses %> </td>
  </tr>
  <% IssueStatus.sorted().each do |status| %>
    <% property_name = "status_color_" + status.id.to_s %>
    <tr>
      <td> <%= status.name %> </th>
      <td>
        <input type="color" id="settings_<%= property_name %>" value="<%= settings[property_name] %>" name="settings[<%= property_name %>]">
      </td>
    </tr>
  <% end %>
  <tr>
    <th colspan="2"> <%=l :settings_header_projects %> </td>
  </tr>
  <% Project.where('status = 1').each do |project| %>
    <% property_name = "project_color_" + project.id.to_s %>
    <tr>
      <td> <%= project.name %> </th>
      <td>
        <input type="color" id="settings_<%= property_name %>" value="<%= settings[property_name] %>" name="settings[<%= property_name %>]">
      </td>
    </tr>
  <% end %>
  <tr>
    <td colspan="2">
      <button type="button" onclick="generateColors()"><%=l :settings_generate_colors %></button>
    <td>
  </tr>
  <tr>
    <th colspan="2"> <%=l :settings_header_other %> </td>
  </tr>
  <tr>
    <td> <%=l :settings_enable_drag_and_drop %> </th>
    <td>
      <%= check_box_tag "settings[enable_drag_and_drop]", true, @settings['enable_drag_and_drop'] %>
    </td>
  </tr>
  <tr>
    <td> <%=l :settings_use_drop_down_menu %> </th>
    <td>
      <%= check_box_tag "settings[use_drop_down_menu]", false, @settings['use_drop_down_menu'] %>
    </td>
  </tr>
  <tr>
    <td> <%=l :settings_display_closed_statuses %> </th>
    <td>
      <%= check_box_tag "settings[display_closed_statuses]", false, @settings['display_closed_statuses'] %>
    </td>
  </tr>
  <tr>
    <td> <%=l :settings_display_minimized_closed_issue_cards %> </th>
    <td>
      <%= check_box_tag "settings[display_minimized_closed_issue_cards]", false, @settings['display_minimized_closed_issue_cards'] %>
    </td>
  </tr>
  <tr>
    <td> <%=l :settings_display_child_projects_tasks %> </th>
    <td>
      <%= check_box_tag "settings[display_child_projects_tasks]", false, @settings['display_child_projects_tasks'] %>
    </td>
  </tr>
  </tbody>
</table>